CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
*.cmake
cmake-build-debug
cmake-build-release
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
cmake_modules/**.cmake
/lib/imgui/*.cpp
/imgui/*.h
/lib/*.dll
/lib/*.a
/lib/*.lib
/lib/static/*.a
/lib/bin/*.*



/lib/tinyxml2/tinyxml2.cpp
/lib/tinyxml2/tinyxml2.h
/lib/imgui/imconfig.h
/lib/imgui/imgui.cpp
/lib/imgui/imgui.h
/lib/imgui/imgui_demo.cpp
/lib/imgui/imgui_draw.cpp
/lib/imgui/imgui_impl_sdl3.cpp
/lib/imgui/imgui_impl_sdl3.h
/lib/imgui/imgui_impl_sdlrenderer3.cpp
/lib/imgui/imgui_impl_sdlrenderer3.h
/lib/imgui/imgui_internal.h
/lib/imgui/imgui_tables.cpp
/lib/imgui/imgui_widgets.cpp
/lib/imgui/imstb_rectpack.h
/lib/imgui/imstb_textedit.h
/lib/imgui/imstb_truetype.h
.idea
